@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.6110819327731092) 68%, rgba(252,176,69,1) 100%);
}

.heading {
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 4px white;
  margin-bottom: 5px;
}

.main-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.box {
  background-color: white;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 20px;
}

.top-row, .bottom-row {
  width: auto;
  padding: 20px;
  border: 1px solid #dbdbdb;
}

.bottom-row {
  margin-top: -1px;
}

#textInput {
  height: 36px;
  font-size: 20px;
  border:  1px solid #dbdbdb;
  border-radius: 3px;
  margin-top: 0px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  outline-style: 1px;
  outline-color: purple;
  vertical-align: auto;
}

/* #convert-to-cm, #convert-to-in {
  height: 40px;
  vertical-align: top;
} */

#convert-to-cm, #convert-to-in {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  /* display: inline-flex; */
  font-size: 0.75rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  /* position: relative; */
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  height: 40px;
  vertical-align: top;
}

#convert-to-cm:active, #convert-to-in:active {
  border-color: #4a4a4a;
  outline: 0;
}

#convert-to-cm:focus, #convert-to-in:focus {
  border-color: #485fc7;
  outline: 0;
}

#convert-to-cm:hover, #convert-to-in:hover {
  /* border-color: #b5b5b5; */
  border-color: purple;
  transition: 0.5s;
}

#convert-to-cm:focus:not(:active), #convert-to-in:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

#convert-to-cm {
  margin-right: 10px;
}

#result {
  font-size: 20px;;
}

.footer {
  color: white;
  font-size: 12px;
  text-align: right;
  margin-top: 40px;
}


